<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>titleText</key>
		<string>SpareChange</string>
		<key>descText</key>
		<string>Give change to make change. Swipe to continue.</string>
		<key>image</key>
		<string>person1.jpg</string>
	</dict>
	<dict>
		<key>titleText</key>
		<string>Step 1</string>
		<key>descText</key>
		<string>Ask a homeless person for their username.</string>
		<key>image</key>
		<string>person2.jpg</string>
	</dict>
	<dict>
		<key>titleText</key>
		<string>Step 2</string>
		<key>descText</key>
		<string>Pick an item from their wishlist.</string>
		<key>image</key>
		<string>person3.jpg</string>
	</dict>
	<dict>
		<key>titleText</key>
		<string>Step 3</string>
		<key>descText</key>
		<string>Pay for the item.</string>
		<key>image</key>
		<string>person8.jpg</string>
	</dict>
	<dict>
		<key>titleText</key>
		<string>Done!</string>
		<key>descText</key>
		<string>They can now visit their local shelter later to pick up their item.</string>
		<key>image</key>
		<string>person5.jpg</string>
	</dict>
	<dict>
		<key>titleText</key>
		<string>Donating Made Personal</string>
		<key>descText</key>
		<string>SpareChange helps the homeless get the products they really need.</string>
		<key>image</key>
		<string>person7.jpg</string>
	</dict>
</array>
</plist>
